@font-face {
    font-family: 'Minipax';
    src:    url('Minipax/Minipax-Regular.eot');
    src:    url('Minipax/Minipax-Regular.eot?#iefix') format('embedded-opentype'),
            url('Minipax/Minipax-Regular.woff') format('woff'),
            url('Minipax/Minipax-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face { font-family: 'Minipax';
    src:    url('Minipax/Minipax-Bold.eot');
    src:    url('Minipax/Minipax-Bold.eot?#iefix') format('embedded-opentype'),
            url('Minipax/Minipax-Bold.woff') format('woff'),
            url('Minipax/Minipax-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'millimetre';
    src:    url('Millimetre/Bold/Millimetre-Bold_web.eot');
    src:    url('Millimetre/Bold/Millimetre-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('Millimetre/Bold/Millimetre-Bold_web.woff') format('woff'),
            url('Millimetre/Bold/Millimetre-Bold_web.woff2') format('woff2'),
            url('Millimetre/Bold/Millimetre-Bold_web.ttf') format('truetype'),
            url('Millimetre/Bold/Millimetre-Bold_web.svg#svgFontName') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'millimetre';
    src:    url('Millimetre/Regular/Millimetre-Regular_web.eot');
    src:    url('Millimetre/Regular/Millimetre-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('Millimetre/Regular/Millimetre-Regular_web.woff') format('woff'),
            url('Millimetre/Regular/Millimetre-Regular_web.woff2') format('woff2'),
            url('Millimetre/Regular/Millimetre-Regular_web.ttf') format('truetype'),
            url('Millimetre/Regular/Millimetre-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'millimetre_cond';
    src:    url('Millimetre/CondensedRegular/Millimetre-Condensed_Regular_web.eot');
    src:    url('Millimetre/CondensedRegular/Millimetre-Condensed_Regular_web.eot?#iefix') format('embedded-opentype'),
            url('Millimetre/CondensedRegular/Millimetre-Condensed_Regular_web.woff') format('woff'),
            url('Millimetre/CondensedRegular/Millimetre-Condensed_Regular_web.woff2') format('woff2'),
            url('Millimetre/CondensedRegular/Millimetre-Condensed_Regular_web.ttf') format('truetype'),
            url('Millimetre/CondensedRegular/Millimetre-Condensed_Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'steps-mono';
    src: url('Steps-Mono-webfont.eot');
    src: url('Steps-Mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('Steps-Mono-webfont.woff2') format('woff2'),
         url('Steps-Mono-webfont.woff') format('woff'),
         url('Steps-Mono-webfont.ttf') format('truetype'),
         url('Steps-Mono-webfont.svg#steps-monomono') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sporting_grotesque';
    src:    url('sportinggrotesque/Sporting_Grotesque-Regular_web.eot');
    src:    url('sportinggrotesque/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('sportinggrotesque/Sporting_Grotesque-Regular_web.woff') format('woff'),
            url('sportinggrotesque/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
            url('sportinggrotesque/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
            url('sportinggrotesque/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
